{{define "content"}}
    <div class="inner cover container">
        <h1 class="cover-headin text-center m-4 p-4">HELLO, ARE YOU READY TO GO!!</h1>
        
        <div class="container mx-auto text-center m-2 p-2">
            <img src="/img/golang_logo.png" alt="Golang logo" height="400px">        
        <p class="lead"><span color="blue">Go</span> is an open source programming language that makes it easy to build <b>simple</b>, <b>reliable</b>, and <b>efficient</b> software</p>

        <p class="lead">
            <a rel="nofollow" target="_blank" href="https://golang.org/" class="btn btn-lg btn-success">Learn more</a>
        </p>
        </div>
    </div>
{{end}}